@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.flex_space {
  display: flex;
  justify-content: space-between;
}

img {
  height: 80 px;
  width: 150px;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.primary-btn {
  padding: 15px 40px;
  background: #13322b;
  font-weight: bold;
  color: white;
}

.secondary-btn {
  padding: 15px 40px;
  background: #13322b;
  border: 2px solid #13322b;
  font-weight: bold;
  color: white;
}

.container {
  max-width: 85%;
  margin: auto;
}

/*--------------------header-------------------------*/
header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
}

header img {
  margin: 20px 0;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
}

header ul li a {
  color: #3e5d58;
  margin: 0 10px;
  transition: 0.5s;
}

header ul li a:hover {
  color: white;
}

header i {
  margin: 0 20px;
}

header button {
  padding: 13px 40px;
}

header.navlinks span {
  display: none;
}
@media only screen and (max-width: 768px) {
  header ul {
    position: absolute;
    top: 500px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
    z-index: 9;
  }
  header ul li {
    display: block;
  }

  header ul li a {
    color: #3e5d58;
  }
  header i {
    color: red;
  }
  header .navlinks span {
    color: black;
    display: block;
    cursor: pointer;
    line-height: 10vh;
    font-size: 25px;
  }
}
/*--------------------header-------------------------*/
/*--------------------home-------------------------*/
.home {
  height: 100vh;
  color: white;
}
.home img {
  width: 100%;
  height: 100vh;
}
.home .text {
  position: absolute;
  top: 35%;
  left: 5%;
}
.home .text h1 {
  font-size: 80px;
  font-family: serif;
  font-weight: 400;
}
.home p {
  margin: 20px 0;
}

.home button {
  margin-right: 20px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5) !important;
  color: blue;
}

.owl-nav .owl-prev {
  left: 0;
}

.owl-nav .owl-next {
  right: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.booking-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

input {
  outline: none;
  border: none;
  width: 100%;
}

.book {
  padding: 40px 0;
  background: #13322b;
  color: white;
}
h1 {
  font-family: serif;
}

.book h1 {
  font-size: 28px;
}

.book h1 span {
  color: white;
}

.book input {
  padding: 20px;
}
.book input:nth-last-child(1) {
  background: #3e5d58;
  color: white;
}

.left,
.right {
  width: 50%;
  padding: 30px;
}

.top {
  margin-top: 80px;
}
.mtop {
  margin-top: 40px;
}
.heading h1 {
  font-size: 100px;
  font-weight: 500;
  opacity: 0.1;
  color: #13322b;
  font-family: serif;
  position: absolute;
  top: -30px;
}

.heading h2 {
  margin: 30px 0;
  font-size: 45px;
  font-family: serif;
  font-weight: 400;
}
.about .heading h1 {
  top: 55px;
}

.about {
  position: relative;
}

.about .left {
  margin-top: 30px;
}

.about p {
  font-size: 15px;
}

.about button {
  margin: 30px 0;
}

.about img {
  height: 450 px;
  width: 700px;
}
/*--------------------about-------------------------*/

/*--------------------counter-------------------------*/
.counter {
  background: #13322b;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  color: white;
  display: flex; 
  align-items: center;
  justify-content: center; 
}

.counter.grid {
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 0; 
  align-items: center;
  width: 100%;
}

.counter h1 {
  font-size: 50px;
  text-align: center;
  place-items: center;
}

.counter span {
  font-size: 20px;
  margin: 10px auto;
  text-align: center;
  place-items: center;
}
.counter hr {
  width: 50%;
  margin: 10px auto;
  background: white;
  height: 2px;
  border: none;
}

/*--------------------Counter-------------------------*/

/*--------------------ROOMS-------------------------*/
.apartaments {
  position: relative;
}

.apartaments .text {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding: 30px;
}

.apartaments i {
  font-size: 12px;
  color: yellow;
  margin: 15px 0;
  margin-right: 5px;
}

.apartaments p {
  margin: 20px 0;
  opacity: 0.7;
}

.apartaments h3 {
  font-size: 30px;
  line-height: 20px;
  margin-left: 20px;
  font-weight: 500;
  color: #13322b;
}

.apartaments h3 span {
  font-size: 15px;
  font-weight: 400;
  color: black;
}
/*--------------------Rooms-------------------------*/
/*--------------------gallery-------------------------*/
.gallery {
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.gallery .img {
  position: relative;
}
.gallery .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #13322b;
  width: 255px;
  height: 251px;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
}

.overlay {
  position: absolute;
  top: 35%;
  left: 25%;
  z-index: 3;
  text-align: center;
  color: white;
  opacity: 0;
  transition: 0.5s;
}

.gallery span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid white;
}

.overlay h3 {
  margin: 20px;
  font-weight: 500;
}

.gallery .items:hover .overlay,
.gallery .items:hover .img::after {
  opacity: 1;
  cursor: pointer;
}

.gallery .owl-nav .owl-next,
.gallery .owl-nav .owl-prev {
  top: 40%;
}

/*--------------------gallery-------------------------*/

/*--------------------services-------------------------*/
.services {
  position: relative;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.services .left {
  padding: 30px 0;
}

.services .box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.5s;
  padding: 20px;
}

.services .box .text {
  padding: 30px 0;
  border: 1px dashed white;
}

.services i {
  font-size: 50px;
  color: #13322b;
  transition: 0.5s;
}

.services h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  transition: 0.5s;
}

.services img {
  width: 100%;
  height: 100%;
}

.services .box:hover {
  background: #3e5d58;
  color: white;
  cursor: pointer;
}
.services.box:hover i,
.services.box:hover h3 {
  color: white;
}

/*--------------------services-------------------------*/

/*--------------------costumer-------------------------*/
.Customer {
  background-color: #13322b;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
  color: white;
  text-align: center;
}
.Customer .container {
  max-width: 70%;
}
.Customer .item {
  padding: 10% 0;
}
.Customer i {
  width: 100px;
  height: 100px;
  background: white;
  line-height: 100px;
  border-radius: 50%;
  font-size: 50px;
  margin-bottom: 50px;
}

.Customer p {
  line-height: 30px;
}

.Customer h3 {
  margin-top: 20px;
  color: white;
}

.Customer span {
  font-size: 15px;
}
.owlCarousel2 .owl-dots {
  position: absolute;
  bottom: 70px;
  left: 46.6%;
}

.owlCarousel2 .owl-dots i {
  color: white;
}

.owlCarousel2 .owl-dots i:hover button {
  color: white !important;
}

.owlCarousel2 span {
  border: 2px solid white;
  background: transparent !important;
}

.owlCarousel2 .active span {
  background: white !important;
  border: 2px solid white;
}
/*--------------------costumer-------------------------*/

/*--------------------news-------------------------*/
.news {
  position: relative;
}

.news i {
  color: #13322b;
  text-transform: capitalize;
  font-size: 18px;
}
.news .label {
  margin-top: 12px;
  margin-right: 20px;
}

.news img {
  width: 100%;
  height: 100%;
}
.news .left {
  padding: 30px 0;
  width: 65%;
}

.news .right {
  width: 35%;
}
/*--------------------news-------------------------*/

/*--------------------footer-------------------------*/
footer {
  background: #13322b;
  color: white;
  padding: 10% 0 5% 0;
}

footer .grid {
  grid-template-columns: repeat 6fr 3fr 3fr;
}

footer p {
  color: white;
  font-size: 15px;
  line-height: 15px;
  width: 500px;
}

footer.icon i {
  margin: 20px 20px 20px 0;
  color: white;
}

footer h2 {
  color: white;
  margin: 10px;
}

footer li {
  margin-bottom: 20px;
  font-size: 15px;
}

footer i {
  color: white;
  margin: 20px 0;
  margin-right: 20px;
}

footer label {
  margin: 20px 0;
}

.legal {
  padding: 15px 0;
  background: #3e5d58;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
/*--------------------footer-------------------------*/

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #13322B;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#scrollToTopBtn:hover {
    background-color: #3e5d58;
}

/* Counter Centering */
.counter .grid {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 0; 
    align-items: center;
    width: 100%;
}

.counter .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
}
.counter .box h1 {
    text-align: center;
    margin: 0 auto;
}
.counter .box span {
    display: block;
    text-align: center;
    margin: 10px auto;
    width: 100%;
}

.counter .box hr {
    margin: 10px auto;
    text-align: center;
}

.apartaments .text {
    height: 420px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Booking Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 200; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    border-radius: 8px;
    position: relative;
    max-height: 90vh; 
    overflow-y: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal form input, .modal form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal h2 {
    text-align: center;
    color: #13322B;
    margin-bottom: 20px;
}
